body {
   
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: rgb(174,208,238);
    background: linear-gradient(335deg, rgba(174,208,238,1) 0%, rgba(14,15,230,1) 100%);
    background-color: #1e62f7e1;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    width: 300px;
    margin-top: -55px;
    margin-bottom: -55px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: yellow;
  }

  .imagem-travel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .imagem-travel img {
    border-radius: 10px;
    width: 96%;
  }
  
  section {
    background-size:cover;
    background-position: center;
    padding: 20px;
  }

  #destinos {
    display: flex;
    background-color:#fff ;
    
  }
  
  .destino, .pacote {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
  }

  .destino {
    color: chocolate;
    background-color: #fff;
    
  }
  

  h2 {
    display: flex;
    padding-left: 40px;
    color: black;
  }

  .imagem_destinos {
    width: 300px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  /*ESTILO DOS CARDS*/
  #destinos {
    display: flex;
    justify-content: space-around;
  }
  
  .destino {
    position: relative;
    width: 300px;
  }
  
  .destino img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.5s ease;
    opacity: 0.9;
  }
  
  .cards_destinos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .destino:hover img {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
  }
  
  .cards_destinos h3, .cards_destinos p, .cards_destinos span {
    margin-bottom: 10px;
  }
  
  .cards_destinos a {
    border: 1px solid beige;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 5px 40px;
    font-size: 20px;
  }

  #pacotes {
    display: flex;
    justify-content: space-around;
  }
  
  .pacote {
    position: relative;
    width: 300px;
  }
  
  .pacote img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.5s ease;
    opacity: 0.9;
  }
  
  .cards_pacotes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pacote:hover img {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
  }
  
  .cards_pacotes h3, .cards_pacotes p, .cards_pacotes span {
    margin-bottom: 10px;
  }
  
  .cards_pacotes a {
    border: 1px solid beige;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 5px 40px;
    font-size: 20px;
  }

  .cards_pacotes span {
    list-style: none;
  }

  footer {
    background: rgb(20,31,232);
    background: linear-gradient(173deg, rgba(20,31,232,1) 0%, rgba(45,115,253,1) 100%);
    color: #fff;
    padding: 20px 0;
  }
  
  .copyright {
    text-align: center;
    margin-top: 20px;
  }

  .poppins-bold {
    line-height: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }